#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
                &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y
                &kp A    &kp S    &kp D    &kp F    &kp G    &kp H
                &kp Z    &kp S    &kp X    &kp C    &kp V    &kp B
            >;
        };

        Lower {
            label = "Lower";
            bindings = <
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
            >;
        };

        Raise {
            label = "Raise";
            bindings = <
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
            >;
        };

        Game {
            label = "Game";
            bindings = <
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
            >;
        };

        Game_++ {
            label = "Game ++";
            bindings = <
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
            >;
        };

        Mouse {
            bindings = <
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
                &kp trans    &kp trans    &kp trans    &kp trans    &kp trans    &kp trans 
            >;
        };
    };
};
