nice_view_spi: &spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 06 GPIO_ACTIVE_HIGH>,
                <&gpio0 19 GPIO_ACTIVE_LOW>;

    trackball: trackball@1 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <1>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        scroll-layers = <1>;
        // automouse-layer = <5>;
    };
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        xy-swap;
        y-invert;
        x-invert;
    };
};
